body{
    background-color: beige;
    display: grid;
    place-content: center;
    height: 100vh;
}
.container{
    width: 600px;
    height: 100px;
    background-color: aliceblue;
    display: grid;
    place-items: center;
    border-radius: 20px;
}
h1{
    text-align: center;
}
p{
    font-size: 18px;
}